<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Suit.TC_001"/>
      <class name="Parallell.chrome"/>
      <class name="Suit.Fire"/>
      <class name="Proposal.Login"/>
      <class name="Parallell.Fire"/>
      <class name="Proposal.IDv"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
